$primary-color:  #ed4c5c;

$grid-breakpoints: (
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 375px
);
$contanier-width: (
  'xl': 1140px,
  'lg': 960px,
  'md': 730px,
  'sm': 540px,
  'xs': 320px
);