.header {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;

  &__col {
    @include flex-row;
  }
  &__col_right {
    margin-left: 5%;
    @include media-breakpoint-down (xs) {
      margin-left: 0;
    }
  }
 
  &__btn {
    background-color: transparent;
    padding: 11px 28px 12px 29px;
    border: 1px solid;
    color: #fff;
    &:hover {
      background-color:  #fff;
      color: $primary-color;
    } 
  } 
}

.logo {
  @include flex-row;
  text-transform: uppercase;
  
  &:before {
    content: url(../img/icons/cloud-logo.svg);
    margin-right: 10px;
    @include media-breakpoint-down (xs) {
      margin-right: 5px;
    }
  }
  @include media-breakpoint-down (xs) {
    font-size: 16px;
  }
}

.menu {
  &__icon {
    display: none;
    cursor: pointer;
    @include media-breakpoint-down (md) {
      display: block;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down (md) {
      display: none;
    }
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
      }
      &:hover {
        border-bottom: 1px solid; 
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
}

